%h1 StaticPages#home
%h3 Recently Updated Items
- @updated_items.each do |item|
  %h5= item.title
%h3 High Demand Items
- @popular_items.each do |item|
  %h5= item.title
%h3 Newly Added Items
- @new_items.each do |item|
  %h5= item.title
