.container
  %h1.jumbotron= "#{@item.title.titleize}'s week of projections had ended!"
  %h3= "Thank you for giving your valuable feedback & support. "
  %h3 It's because of people like you that Artists are able to sell their items.
  %br
  %h4 Thank you,
  %h4 -The Priceimate Team
