%h1 {{item.title}}
%div{'ng-if' => 'item.days_remaining < 1'}
  %h3 Closed
%div{'ng-if' => 'item.days_remaining == 1'}
  %h3 {{item.days_remaining}} Day Remaining
%div{'ng-if' => 'item.days_remaining > 1'}
  %h3 {{item.days_remaining}} Days Remaining
.container
  %div.col-lg-offset-2.col-lg-8.col-lg-offset-2{'ng-controller' => 'CarouselDemoCtrl'}
    %div{'style' => 'height: 300px'}
      %carousel{'interval' => 'myInterval'}
        %slide{'ng-repeat' => 'slide in item.images', 'active' => 'slide.active'}
          %img{'ng-src' => '{{slide.image}}', 'style' => 'margin:auto;'}
  %br
  %p.col-lg-offset-2.col-lg-8.col-lg-offset-2 {{item.description}}
  %div{'ng-if' => 'item.current_user == "blank"'}
    %h3.col-lg-offset-2.col-lg-8.col-lg-offset-2 You Must Be Signed In To Estimate a Price
  %div{'ng-if' => 'item.email != item.current_user' }
    %div{'ng-if' => 'item.is_old'}
      %h3.col-lg-offset-2.col-lg-8.col-lg-offset-2 {{item.title}}'s Week Has Expired. Thank You For Your Support!
    %div{'ng-if' => 'item.is_old == false'}
      %div{'ng-if' => 'item.current_user != "blank" '}
        %div{'ng-controller' => 'ProjCtrl'}
          %form.col-lg-12.css-form.well{'ng-submit' => "project(item, proj)", 'name' => 'projection', 'ng-hide' => 'item.has_projected'}
            .form-group
              %label How Much Would You Pay For {{item.title}}? 
              %input{'required' => true, 'ng-model' => 'proj.price', 'type' => 'number', 'min' => '0', 'ng-model-options' => "{ debounce: 500}"}
              %br
              %label Would You Like to Receive Email Updates?
              %input{'ng-model' => 'proj.mail', 'type' => 'checkbox', 'checked' => true}
            .innerWell{'ng-if' => 'proj.price'}
              %h3{'ng-if' => 'proj.price' } I Would Pay {{proj.price | currency}} For {{item.title}}
              %h3{'ng-if' => 'proj.price && proj.mail'} I Would Like to Receive Email Updates
              %h3{'ng-if' => 'proj.price && !proj.mail'} I Would Not Like to Receive Email Updates
              %button.btn.btn-primary{ 'type' => 'submit', 'ng-disabled' => 'projection.$invalid'} Submit Your Projection
  =# @item.title
  =# @item.description
  =# "Posted by: #{@item.artist.email}"
  -# TODO Add users can link to their personal selling site
  -#@item.images.each do |image|
    =link_to image_tag(image.picture.url(:medium)), image.picture.url
  -#if closed @item
    %h3 This Item has exceeded the 7 Day Projection Week
  -#else
    - if not_artist(@item) && not_banned
      = simple_form_for @projection, :html => { class: 'form-horizontal' } do |f|
        = f.hidden_field :item_id, value: @item.id
        = f.input :price
        = f.input :mail, label: "Would You Like to Receive Updates About #{@item.title}"
        = f.button :submit, :class => 'btn-success'

  -# if is_artist
    -@item.projections.each do |p|
      %h5= number_to_currency p.price
%div{'ng-if' => 'item.email == item.current_user && item.projections.length > 0'}
  %table.table.table-striped
    %thead
      %tr
        %th Price
        %th Want Email Updates?
    %tbody
      %tr{'ng-repeat' => 'p in item.projections'}
        %td {{p.projection.price}}
        %td {{p.projection.mail}}
      %hr
      %tr
        %td 
          %b Average(with range)
        %td {{item.average}}
      %tr
        %td 
          %b Average
        %td {{item.entire_average}}
