!!! 5
%html{'ng-app'=>'itemApp'}
  %base(href='/')
  = render 'layouts/head'
  %body.bg-outer
    .container
      .row
        .bg-inner.round
          =render 'layouts/navbar'
          = bootstrap_flash
          = yield
      %footer
        %p &copy; Company 2014
